input, textarea, keygen, select, button, isindex {
	font-weight: normal;
	font-size: 11px;
	border-color: #9297A6;
	border-style: solid;
	border-width: 1px;
	border-top-color: #AEB4BD;
	border-left-color: #AEB4BD;
	border-bottom-color: #E0E3E8;
	border-right-color: #E0E3E8;
	background-image: url(../img/inputText_bg.png);
	background-repeat: repeat-x;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	padding: 1px 2px 1px 3px;
	margin: 1px;
	overflow-x: hidden;
	overflow-y: auto;
}

.label {
      width: 150px;
      font-size: 11px;
      text-align:right;
      font-family: Arial, Helvetica, sans-serif;
      padding: 1px 2px 1px 4px;
      font-weight:bold;
      background-color: #D4CFC6;
}   
.data {                         
      width: 150px;  
      font-size: 11px;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 4px;
}    

.simple-panel {
      border: none !important;
} 

.data-header {
    padding: 10px 0px 1px 0px;
    font-size: 12px;
    border-bottom: solid 1px;
    margin-bottom: 5px;
} 

.active-tab-header {
  background-color:green;
}

.inactive-tab-header {
  background-color:red;
}

.tab-header {

} 

.tab-page {

}

.grid-cell {
  min-height: 45px;
} 
  .grid-cell  > :last-child{
    margin-bottom:0;
  }

.amount-cell {
  background-color:#CECECE; 
  color: white; 
  width: 30px; 
  display: block;
  text-align: right;
  padding-right:3px;
}

.prompt-cell {
	width: 20px;
	color: #CECECE;
	text-align: right;
	display: block;
	text-align: right;
	padding-right: 3px
}

ul, ol, dd {
  margin-left: 0em;
}

.button {
  width: 12em;
  border-right: 1px solid #000;
  padding: 0 0 1em 0;
  margin-bottom: 1em;
  color: #333;
  }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    }
   
li {
    margin: 0;
}   

.add-button {
  border-style: none;
}